.sidebar {
	width: 25vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	border-left: 1px solid lightgrey;
}

.main {
	width: 75vw;
}

.d-none {
	display: none;
}

.w-100 {
	width: 100%;
}

.delete-expense {
	padding: 1px 3px;
}
