<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planner</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <header class="container nav justify-content-between align-items-baseline pt-5" th:fragment="header">
        <h1 class="">Planner</h1>
<!--        <a th:href="@{/expense}">+ Expense</a>-->
        <div class="nav-item">
            <button class="nav-item btn btn-primary" id="add-expense">+ Expense</button>
        </div>
        <div class="card nav-item" th:switch="${user.userType}">
            <h2 class="font-bold" th:text="${user.username}">jacko</h2>
            <p th:case="'admin'">Superuser</p>
            <p th:case="'user'">User</p>
            <p th:if="${user.userType == 'admin'}">Meister</p>
        </div>
    </header>
    <div th:insert="add-expense :: form"></div>
    <section class="container mx-auto px-5">
        <h3 class="text-xl font-bold">Categories:</h3>
        <div>
            <button class="btn btn-outline-primary me-1" th:each="category : ${categories}" th:text="${category}"></button>
        </div>
    </section>
    <p>Kurs EUR-PLN: <span th:text="${currency}"></span></p>
    <section class="container mx-auto px-5">
        <table class="table">
            <thead>
                <tr>
                    <th>All expenses</th>
                    <th>PLN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="expense : ${expenses}">
                    <td th:text="${expense.name}"></td>
                    <td th:text="${expense.value}"></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
<script src="/js/addExpense.js"></script>

</html>