<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>Login to planner</h1>
        <div class="card text-center" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1612107591665-4a6b406f6b03?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" class="card-img-tops" alt="...">
            <div class="card-body">
                <h5 class="card-title">Login using:</h5>
                <div class="d-grid gap-2">
                    <a href="/oauth2/authorization/github" class="btn btn-secondary">GitHub</a>
                    <a href="/oauth2/authorization/google" class="btn btn-primary">Google</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>