<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Planner</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <h1 class="navbar-brand">Planner</h1>
                    <div class="nav-item">
                        <button class="nav-item btn btn-success" id="add-income">+ Income</button>
                        <button class="nav-item btn btn-danger" id="add-expense">+ Expense</button>
                    </div>
                </div>
            </nav>

            <div class="progress my-3 mx-5">
                <div class="progress-bar" role="progressbar" th:attr="style=|width: ${goal}|" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

            <section class="container mx-auto px-5">
                <h3 class="text-xl font-bold">Categories:</h3>
                <div class="py-3">
                    <button class="btn btn-outline-primary me-1" th:each="category : ${categories}" th:text="${category}" th:attr="onclick=|selectCategory('${category}')|"></button>
                </div>
            </section>

            <section class="container mx-auto px-5">
                <div id="selected-expenses" class="py-5 d-none">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Expenses from <span id="category-name"></span></th>
                            <th>PLN</th>
                            <th>Date</th>
                            <th><button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleExpenseTools()">Edit</button></th>
                        </tr>
                        </thead>
                        <tbody id="category-table">
                        </tbody>
                    </table>
                </div>
                <div id="all-expenses" class="py-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>All expenses</th>
                            <th>PLN</th>
                            <th>Date</th>
                            <th><button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleExpenseTools()">Edit</button></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="expense : ${expenses}">
                            <td th:text="${expense.name}"></td>
                            <td th:text="${expense.value}"></td>
                            <td th:text="${expense.date}"></td>
                            <td><button type="button" class="delete-expense btn btn-outline-danger btn-sm" th:attr="onclick=|deleteExpense('${expense.uuid}')|">Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
    
        <div class="sidebar">
            <div class="card nav-item p-3 text-center border-0">
                <img id="userlogo" class="card-image" alt="user logo" th:src="${user.avatarUrl}">
                <h2 id="username" class="font-bold" th:text="${user.username}"></h2>
                <p>Product Owner</p>
                <p class="badge bg-secondary">EUR-PLN: <span th:text="${currency}"></span></p>
                <form method="POST" action="/logout">
                    <button class="btn btn-primary w-100" type="submit">Logout</button>
                </form>
                <div class="nav-item input-group py-5">
                    <div class="form-floating w-100 mb-2">
                        <select class="form-select" id="year">
                            <option th:text="${selectedYear}" selected></option>
                            <option th:if="${selectedYear} != All">All</option>
                            <option th:each="year : ${years}" th:text="${year}" th:value="${year}"></option>
                        </select>
                        <label for="year">Year</label>
                    </div>
                    <div class="form-floating w-100">
                        <select class="form-select" id="month">
                            <option th:text="${selectedMonth}" selected></option>
                            <option th:if="${selectedMonth} != All">All</option>
                            <option th:each="month : ${months}" th:text="${month}" th:value="${month}"></option>
                        </select>
                        <label for="month">Month</label>
                    </div>
                </div>
                <div class="py-5">
                    <h4>My incomes</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>PLN</th>
                            <th>Date</th>
                            <th><button type="button" class="btn btn-outline-dark btn-sm" onclick="toggleIncomeTools()">Edit</button></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="income : ${incomes}">
                            <td th:text="${income.name}"></td>
                            <td th:text="${income.value}"></td>
                            <td th:text="${income.date}"></td>
                            <td><button type="button" class="delete-income btn btn-outline-danger btn-sm" th:attr="onclick=|deleteIncome('${income.uuid}')|">Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <form id="expense-form" action="#" class="p-5 w-50 rounded shadow d-none">
            <h2>Add expense</h2>
            <label class="form-label">Name:</label>
            <input type="text" name="name" class="form-control" />
            <label class="form-label">Category:</label>
            <input type="text" name="categoryName" class="form-control" />
            <label class="form-label">Value:</label>
            <input type="number" step="0.01" name="value" class="form-control" />
            <Label class="form-label">Date:</Label>
            <input type="date" name="date" class="form-control" />
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary text-center my-3">Add</button>
            </div>
        </form>

        <form id="income-form" action="#" class="p-5 w-50 rounded shadow d-none">
            <h2>Add income</h2>
            <label class="form-label">Name:</label>
            <input type="text" name="name" class="form-control" />
            <label class="form-label">Value:</label>
            <input type="number" step="0.01" name="value" class="form-control" />
            <Label class="form-label">Date:</Label>
            <input type="date" name="date" class="form-control" />
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary text-center my-3">Add</button>
            </div>
        </form>

    </body>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</html>